<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Editar Contato</title>
    </head>
    <body>
        <h2>Editar Contato</h2>
        <form action="" method="post">
            <input type="text" name="nome" value="{{contato[1]}}">
            <input type="text" name="telefone" value="{{contato[2]}}">
            <input type="text" name="email" value="{{contato[3]}}">
            <button type="submit">Salvar Alterações</button>
        </form>
        <br>
        <a href="/">Voltar</a>
    </body>
</html>